/* Root selectors  */
:root {
	--accent-color: #1ABFD2;
	--grey-color: #ABABAB;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

* {
	box-sizing: border-box;
}

/* Global element styles */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

/* Styled elements */

html {
	min-height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

a {
	color: #222222;
	text-decoration: none;
}

a:hover{
	color: var(--accent-color);
}

h1 {
	font-size: 3vmin;
	color: var(--grey-color);
	font-weight: 300;
}

/* Main page elements */

main {
	display: block;
	position: absolute;
	width: 100%;
	left: 50%;
	top: 45%;
	text-align: center;
	transform: translate(-50%, -40%);
	min-height: 30vmin;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 40vh;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 193, 213, 0.23) 81%, rgba(138, 117, 209, 0.29) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 193, 213, 0.23) 81%, rgba(138, 117, 209, 0.29) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 193, 213, 0.23) 81%, rgba(138, 117, 209, 0.29) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#4a8a75d1', GradientType=0);
}

#footer-text {
	position: absolute;
	width: 100%;
	bottom: 10px;
	font-size: 1.8vmin;
	color: #222222;
	text-align: center;
	margin: 0px;
}

img#logo {
	margin: auto;
	min-width: 60vmin;
	max-width: 80vmin;
}

div.tag {
	display: block;
	min-width: 50%;
	max-width: 80%;
	min-height: 5vmin;
	margin: auto;
	overflow: hidden;
}

#tagline {
	animation-name: example;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

/* Animations */
@keyframes example {
	0% {
		transform: translate(50%, 0%);
		opacity: 0;
	}
	25% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
	65% {
		transform: translate(0%, 0%);
	}
	75% {
		margin-left: 0;
		opacity: 1;
	}
	100% {
		transform: translate(-50%, 0%);
		opacity: 0;
	}
}

/* Helper styles for usability etc. */

.hidden {
	display: none !important;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit;
}
